<div class="pt-20 z-10" id="our_products">
    <h1 class="text-center text-2xl font-bold text-gray-500 oswald-font">Our Products</h1>
    <div class="w-20 h-1.5 mx-auto bg-gray-500 mb-20"></div>
    <div class="grid lg:grid-cols-4 gap-4 container max-w-6xl m-auto">
     
          <div class="lg:w-[20vw] w-[95%] mx-auto h-[65vh] shadow-lg text-gray-500 border-2 rounded-xl bg-white">
            <img src="https://cdn.shopify.com/s/files/1/0645/9519/8199/files/Untitled_1024_x_1024_px_5_460x@2x.png?v=1661082813" alt="" class="w-[100%] mb-4 h-[200px] rounded-xl object-cover">
            <h1 class="mx-4 text-xl font-bold my-4 oswald-font text-gray-500">Organic Fruits</h1>
            <p class="text-left text-sm font-semibold px-4 mt-2 tracking-wider source-serif-pro my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, exercitationem.</p>
            <a class="bg-green-600 hover:bg-green-700 px-6 py-2 text-white font-semibold uppercase text-sm mt-3 rounded-lg my-4 mx-4 oswald-font tracking-wide" href="{% url 'organic_fruits' %}">click here to explore</a>
          </div>
          <div class="lg:w-[20vw] w-[95%] mx-auto h-[65vh] shadow-lg text-gray-500 border-2 rounded-xl bg-white">
            <img src="https://images.pexels.com/photos/6462424/pexels-photo-6462424.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="w-[100%] h-[200px] mx-auto rounded-xl mb-4 object-cover">
            <h1 class="mx-4 text-xl font-bold my-4 oswald-font text-gray-500">Organic Vegetables</h1>
            <p class="text-left text-sm font-semibold px-4 mt-2 my-4 tracking-wider source-serif-pro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, exercitationem.</p>
            <a class="bg-green-600 hover:bg-green-700 px-6 py-2 text-white font-semibold uppercase text-sm mt-2 rounded-lg mx-4 my-4 oswald-font tracking-wide" href="{% url 'organic_vegetables' %}">click here to explore</a>

          </div>
          <div class="lg:w-[20vw] w-[95%] mx-auto h-[65vh] bg-white shadow-lg border-2 text-gray-500 rounded-xl">
            <img src="https://images.pexels.com/photos/2820144/pexels-photo-2820144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="w-[100%] h-[200px] rounded-xl mx-auto object-cover">
            <h1 class="text-xl font-bold my-4 mx-4 oswald-font text-gray-500">Fresh Fruits</h1>
            <p class="text-left mx-4 text-sm font-semibold mt-2 tracking-wider source-serif-pro my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, exercitationem.</p>
            <a class="bg-green-600 hover:bg-green-700 px-6 py-2 text-white font-semibold uppercase text-sm mt-2 rounded-lg mx-4 oswald-font tracking-wide" href="{% url 'fresh_fruits' %}">click here to explore</a>

          </div>
          <div class="lg:w-[20vw] w-[95%] mx-auto h-[65vh] bg-white shadow-lg border-2 text-gray-500 rounded-xl">
            <img src="https://images.pexels.com/photos/1367242/pexels-photo-1367242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="w-[100%] h-[200px] rounded-xl mx-auto object-cover">
            <h1 class="mx-4 text-xl font-bold my-4 oswald-font">Fresh Vegetables</h1>
            <p class="text-left mx-4 my-4 text-sm font-semibold tracking-widest source-serif-pro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, exercitationem.</p>
            <a class="bg-green-600 hover:bg-green-700 px-6 py-2 text-white font-semibold uppercase text-sm mt-2 rounded-lg mx-4 oswald-font tracking-wide" href="{% url 'fresh_vegetables' %}">click here to explore</a>

          </div>
    </div>
</div>

