{% extends 'myapp/index.html' %}

{% block organic_vegetables %}
    {% include 'myapp/navbar.html' %}
        <h1 class="text-center text-3xl my-5 oswald-font text-gray-500 font-bold tracking-widest">Organic Vegetables</h1>
        <div class="w-32 h-2 mx-auto bg-gray-500 mb-5"></div>
        <div class="flex lg:flex-row flex-col w-full mb-5">
            <div class="flex lg:flex-col flex-row lg:pl-5 pl-0 lg:w-1/3 source-serif-pro space-y-1 pb-1 font-[30px] lg:h-[60vh] w-[98vw] lg:overflow-y-auto overflow-x-auto sidebar_organic_fruits text-xl">
                <a href="" class="border text-gray-500 rounded text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 border-red-500 flex items-center justify-center lg:justify-start">Carrots</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Broccoli</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Tomatoes</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Spinach</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Cauliflower</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Peppers</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Cabbage</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Lettuce</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start ">Sweet potatoes</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Peas</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Brussels sprouts</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Corn</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Asparagus</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start w-auto">Radishes</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Green beans</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Onions</a>
                <a href="" class="border text-gray-500 rounded border-red-500 text-left mb-4 py-2 hover:bg-red-500 hover:text-white lg:pl-5 px-1 flex items-center justify-center lg:justify-start">Eggplant</a>
            </div>
            <div class="w-full grid lg:grid-cols-4 gap-x-1 gap-y-2">
                {% for product in p %}
                <div class="lg:w-[18vw] w-[90%] mx-auto lg:mx-0 p-5 text-center  border-2 rounded-lg relative bg-white">
                    <img src="{{product.product_image.url}}" alt="Apple red delicious" class="rounded-lg w-full mb-2 h-[200px] object-cover">
                    <p class="mb-2 oswald-font">{{product.product_name}}</p>
                    <p class="mb-4 oswald-font">1 kg</p>
                    {% if product.product_discount != 0 %}
                    <a href="" class="uppercase text-sm border oswald-font border-black rounded-lg p-2">mrp <span class="line-through">₹ {{product.product_price}}</span></a>
                    <span class="absolute top-2 left-2 bg-gray-300 text-red-500 font-extrabold px-7 py-2" style="border-top-left-radius: 50px;border-bottom-left-radius: 10px;border-bottom-right-radius: 100px;border-top-right-radius: 100px;">₹ {{product.difference}}</span>
                    {% else %}
                    <a href="" class="uppercase text-sm border oswald-font border-black rounded-lg p-2 ">mrp ₹ {{product.product_price}}</a>
                    {% endif %}

                    <a class="uppercase text-sm bg-green-500 p-2 rounded-lg text-white px-7 oswald-font" id="add_cart{{product.id}}" onclick="addToCart({{product.id}})"><i class="fa-solid fa-cart-shopping"></i>add</a>
                    <script>
                        {% for c in cart %}

                            {% if c.product.id == product.id %}
                                $('#add_cart{{product.id}}').attr('onclick',null);
                                $('#add_cart{{product.id}}').text("view");
                                $('#add_cart{{product.id}}').click(function(){
                                        // Navigate to a specific page
                                        window.location.href='{% url "cart" %}'

                                    })

                            {% endif %}
                        {% endfor %}
                        
                    </script>
                    <script>
                        function addToCart(productId) {
                            
                            // Send an AJAX POST request to the Django view
                            $.ajax({
                                url: `/add_cart/${productId}/`,  // Replace with your Django view URL
                                type: "POST",
                                data: {
                                
                                csrfmiddlewaretoken: '{{ csrf_token }}'  // Replace with the actual CSRF token
                                
                                },
                                success: function(response) {
                                // Update the cart quantity in the HTML
                                console.log(response);
                                
                                $(`#add_cart${productId}`).text("view");
                                    $(`#add_cart${productId}`).attr('onclick',null)
                                    $(`#add_cart${productId}`).click(function(){
                                        // Navigate to a specific page
                                        window.location.href='{% url "cart" %}'

                                    })


                                
                                // Remove the onclick function from an element with id "myElement"


                                },
                                error: function(xhr, errmsg, err) {
                                // Handle the error
                                console.log(errmsg);
                                }
                            });
                            }


                    </script>

                </div>
                
                {% endfor %}
                
                
                
                
                
                
            </div>

        </div>
    
    {% include 'myapp/footer.html' %} 

{% endblock %}