{% extends 'myapp/index.html' %}
{% block register %}
{% include 'myapp/navbar.html' %}
{% for m in messages %}
    <div class="w-full bg-rose-400 py-2 flex justify-between px-6 items-center">
        <p class="text-lg font-semibold text-slate-500 uppercase">{{m}}</p>
        <i class="fa-solid fa-xmark text-3xl"></i>
    </div>

{% endfor %}
<form class="py-12 m-auto flex flex-col w-1/2" method="post">
    {% csrf_token %}
    <h1 class="text-3xl text-center mb-6 font-bold">REGISTER</h1>
    {{form.username.label}}
    {{form.username}}{{form.username.errors}}<br>
    {{form.first_name.label}}
    {{form.first_name}}{{form.first_name.errors}}<br>
    {{form.last_name.label}}
    {{form.last_name}}{{form.last_name.errors}}<br>
    {{form.email.label}}
    {{form.email}}{{form.email.errors}}<br>
    {{form.password1.label}}
    {{form.password1}}{{form.password1.errors}}<br>
    {{form.password2.label}}
    {{form.password2}}{{form.password2.errors}}
    <button type="submit" class="bg-blue-500 py-2 mt-7 font-semibold text-white rounded">SignUp</button>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
</form>
{% include 'myapp/footer.html' %}
{% endblock %}
